<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/pages/channel.css">
<link rel="stylesheet" href="/css/pages/channel-search.css">
<link rel="stylesheet" href="/css/theme/home-theme.css">

<body>
    <!-- header : 홈 화면 상단바 -->
    <%- include('../partials/header') %>

    <!-- nav : 홈 화면 네비게이션 -->
    <%- include('../partials/nav') %>

    <!-- main : 홈 화면 블록 -->
    <main class="theme-wrapper">
        <%- include('../partials/channel-header', { channelInfo, activeTab }) %>

        <section class="search-results">
            <% if (searchResults.length === 0) { %>
                <p class="no-results">"<%= query %>" 검색 결과가 없습니다.</p>
            <% } else { %>
                <% searchResults.forEach(video => { %>
                    <div class="search-result-item">
                        <a href="/video?id=<%= video.id %>" class="thumbnail">
                            <img class =" no-invert" src="<%= video.thumbnail %>" alt="Thumbnail">
                        </a>                        
                        <div class="video-info">
                            <h3 class="video-title">
                                <a href="/video/<%= video.id %>"><%= video.title %></a>
                            </h3>
                            <p class="video-meta">
                                <a href="/channel/<%= channelInfo.id %>/Home" class="channel-link">
                                    <%= channelInfo.channel_name %>
                                </a>
                                · 
                                <a href="/video/<%= video.id %>" class="video-meta-link">
                                    <%= formatViews(video.views) %> views · <%= getRelativeTime(video.created_dt) %>
                                </a>
                            </p>
                            <a href="/video/<%= video.id %>" class="video-description">
                                <%= video.description %>
                            </a>
                        </div>
                    </div>
                <% }); %>
            <% } %>
        </section>                
    </main>
    <script src="/js/common/buttonHeader.js"></script>
    <script src="/js/common/thumbnail-play.js"></script>
    <script src="/js/common/sidebarshowmore.js"></script>
    <script src="/js/common/sidebarToggle.js"></script>
    <script src="/js/common/button.js"></script>
    <script src="/js/common/subscriber-nav.js"></script>
    <script src="/js/common/theme-toggle.js"></script>
    
    <script src="/js/channel/channel-search.js"></script>
    <script src="/js/channel/channel-nav-scroll.js"></script>
    <script src="/js/channel/channel-scroll.js"></script>
    <script src="/js/channel/nav-search.js"></script>
</body>
</html>