<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/pages/video.css">
    <link rel="stylesheet" href="/css/theme/home-theme.css">

    <!-- sidebar toggle용 class -->

    <body class="video-page">
        <!-- header : 홈 화면 상단바 -->
        <%- include('../partials/header') %>

            <!-- nav : 홈 화면 네비게이션 -->
            <%- include('../partials/nav') %>

                <!--전체 화면 -->
                <div class="video-page-container theme-wrapper">
                    <!--본 영상 영역-->
                    <main class="video-main">
                        <!--영상 재생 영역-->
                        <section class="video-player no-invert">
                            <video controls autoplay width="100%">
                                <source src="https://storage.googleapis.com/youtube-clone-video/<%= videoInfo.id %>.mp4"
                                    type="video/mp4">
                                동영상을 찾을 수 없습니다.
                            </video>
                        </section>

                        <!--영상 제목 및 정보-->
                        <section class="video-title-info">

                            <span class="video-player-title">
                                <%= videoInfo.title %>
                            </span>

                            <!-- 프로필+구독 / 버튼들 -->
                            <div class="video-header-bar">
                                <!-- 좌측: 프로필 + 구독 -->
                                <div class="channel-info-left">
                                    <a href="/channel/<%= channelInfo.id %>/Home" class="channel-owner">
                                        <img class="channel-owner-img no-invert"
                                            src="<%= channelInfo.channel_profile %>" />
                                        <div class="channel-text">
                                            <div class="channel-owner-name">
                                                <%= channelInfo.channel_name %>
                                            </div>
                                            <div class="channel-subscription">
                                                <%= channelInfo.subscribers.toLocaleString() %> subscribers
                                            </div>
                                        </div>
                                    </a>
                                    <button class="subscribe-btn no-invert">SUBSCRIBE</button>
                                </div>

                                <!-- 우측: 기존 버튼들 -->
                                <div class="video-actions">
                                    <div class="action-button">
                                        <button><img class="action-img" src="/assets/icons/like2.svg" alt="Like" />
                                            <span class="action-text">
                                                <%= videoInfo.likes.toLocaleString() %>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="action-button">
                                        <button><img class="action-img" src="/assets/icons/dislike2.svg"
                                                alt="Dislike" />
                                            <span class="action-text">
                                                <%= videoInfo.dislikes.toLocaleString() %>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="action-button">
                                        <button><img class="action-img" src="/assets/icons/share2.svg" alt="Share" />
                                            <span class="action-text">SHARE</span></button>
                                    </div>
                                    <div class="action-button">
                                        <button><img class="action-img" src="/assets/icons/save2.svg" alt="Save" />
                                            <span class="action-text">SAVE</span></button>

                                        <!-- 저장 모달 -->
                                        <div class="save-modal">
                                            <div class="save-modal-content">
                                                <button class="save-option-btn"><img
                                                        src="/assets/icons/save-offline.svg" alt="Download">
                                                    <span class="save-text">Download</span></button>
                                                <button class="save-option-btn"><img src="/assets/icons/save-online.svg"
                                                        alt="Save">
                                                    <span class="save-text">Save</span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="action-button">
                                        <button class="action-text"><img class="action-img"
                                                src="/assets/icons/more2.svg" alt="More" /></button>
                                        <!-- 더보기 모달 -->
                                        <div class="more-modal">
                                            <div class="more-modal-content">
                                                <button class="more-option-btn"><img src="/assets/icons/report.svg"
                                                        alt="report">
                                                    <span class="report-text">Report</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- 설명은 가장 아래 -->
                            <div class="channel-description-box">
                                <!-- 첫 줄: 조회수 + 날짜 -->
                                <div class="description-meta">
                                    <%= videoInfo.views.toLocaleString() %> views • <%=
                                            getRelativeTime(videoInfo.created_dt) %>
                                </div>

                                <!-- 영상 설명 -->
                                <p class="channel-description">
                                    <%= videoInfo.description %>
                                </p>

                                <!-- 더보기 버튼 -->
                                <button class="show-more">...more</button>
                            </div>
                        </section>

                        <!-- platlist 구현 -->
                        <section class="mix-playlist">
                            <div class="mix-header">
                                <h3>Mix - <%= videoInfo.title %>
                                </h3>
                                <button id="play-all-btn">Play All</button>
                            </div>
                            <ul class="mix-list">
                                <% playlist.forEach(video=> { %>
                                    <li class="mix-item" data-url="/video?id=<%= video.id %>&queue=mix">
                                        <img src="<%= video.thumbnail %>" alt="<%= video.title %>" class="mix-thumb">
                                        <div class="mix-info">
                                            <div class="mix-title">
                                                <%= video.title %>
                                            </div>
                                            <div class="mix-channel">
                                                <%= video.channel_name %>
                                            </div>
                                            <div class="mix-duration">
                                                <%= video.duration %>
                                            </div>
                                        </div>
                                    </li>
                                    <% }); %>
                            </ul>
                        </section>

                        <!-- 댓글 영역 -->
                        <section class="comments-section">
                            <!-- 댓글 수 및 정렬 -->
                            <div class="comments-header">
                                <div class="sort">
                                    <span class="comments-num">0 Comments</span>
                                    <button class="sortby-btn">
                                        <img class="sortby-img" src="/assets/icons/list filter.png" alt="Sort icon">
                                        <span>SORT BY</span>
                                    </button>
                                    <!-- 정렬 모달 -->
                                    <div class="sortby-modal">
                                        <div class="sortby-modal-content">
                                            <button class="sortby-option-btn"><span class="sortby-text">Top
                                                    comments</span></button>
                                            <button class="sortby-option-btn"><span class="sortby-text">Newest
                                                    first</span></button>
                                        </div>
                                    </div>
                                    <!-- 정렬 모달 -->
                                </div>
                            </div>
                            <!-- 댓글 입력 -->
                            <div class="comment-input">
                                <img class="input-img no-invert" src="/assets/profile/Profile-pic.svg"
                                    alt="profile img">
                                <input class="input-text" type="text" placeholder="Add a public comment...">
                            </div>
                            <!-- 댓글 리스트 -->
                            <div class="comment"></div>
                        </section>

                        <!--추천 영상 영역-->
                        <section class="recommended-videos">
                            <!--추천 영상 필터-->
                            <nav class="recommended-tag">
                                <button class="sort-btn active" data-sort="all">전체</button>
                                <button class="sort-btn" data-sort="recommend">추천 영상</button>
                                <button class="sort-btn" data-sort="channel">해당 채널 추천</button>
                            </nav>
                            <!--추천 영상 카드-->
                            <div id="recommend-list-container">
                                <% recommendedVideos.forEach(video=> { %>
                                    <%- include('../partials/videoCard-video', { video, formatViews, getRelativeTime })
                                        %>
                                        <% }); %>
                            </div>
                        </section>

                        <!-- 공유 모달 -->
                        <div class="share-modal">
                            <div class="share-box">
                                <div class="share-header">
                                    <span>SHARE</span>
                                    <button class="close-modal">&times;</button>
                                </div>
                                <div class="link-container">
                                    <input type="text" id="share-link"
                                        value="https://localhost:3000/video?id=<%= videoInfo.id %>" readonly>
                                    <button class="copy-btn">copy</button>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
                <script src="/js/common/buttonHeader.js"></script>
                <script src="/js/common/thumbnail-play.js"></script>
                <script src="/js/common/sidebarshowmore.js"></script>
                <script src="/js/common/sidebarToggle.js"></script>
                <script src="/js/common/button.js"></script>
                <script src="/js/common/subscriber-nav.js"></script>
                <script src="/js/common/theme-toggle.js"></script>

                <script src="/js/video/video-search.js"></script>
                <script src="/js/video/comment.js"></script>
                <script src="/js/video/mix-playlist.js"></script>
                <script src="/js/video/sort.js"></script>
                <script src="/js/video/description-toggle.js"></script>
    </body>

</html>